.mainbanner__text-container {
    margin: 0 auto;
    position: absolute;
    top: 42.5%;
    background-color: #fff;
    text-align: center;
    padding: 10px 85px 15px;
    max-width: 750px;
    margin-left: 195px;
    margin-right: 195px;
}