@import url(./blocks/page/page.css);
@import url(./blocks/semicolon/semicolon.css);
@import url(./blocks/square-bracket/square-bracket.css);
@import url(./blocks/bracket/bracket.css);
@import url(./blocks/title/title.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/header__name.css);
@import url(./blocks/header/header__tag.css);
@import url(./blocks/header/header__profession.css);
@import url(./blocks/header/header__info.css);
@import url(./blocks/header/header__info-title.css);
@import url(./blocks/header/header__info-text.css);
@import url(./blocks/education/education.css);
@import url(./blocks/education/education__text.css);
@import url(./blocks/education/education__box.css);
@import url(./blocks/education/education__container.css);
@import url(./blocks/education/education__text-box.css);
@import url(./blocks/education/education__title-courses.css);
@import url(./blocks/education/education__title-now.css);
@import url(./blocks/education/education__title-uni.css);
@import url(./blocks/education/education__title-box.css);
@import url(./blocks/work/work.css);
@import url(./blocks/work/work__container.css);
@import url(./blocks/work/work__title.css);
@import url(./blocks/work/work__place.css);
@import url(./blocks/work/work__text.css);
@import url(./blocks/work/work__time.css);
@import url(./blocks/work/work__title.css);
@import url(./blocks/work/work__box.css);
@import url(./blocks/work/work__elem.css);
@import url(./blocks/work/work__square-bracket-open.css);
@import url(./blocks/work/work__square-bracket-close.css);
@import url(./blocks/skills/skills.css);
@import url(./blocks/skills/skills__box.css);
@import url(./blocks/skills/skills__hard.css);
@import url(./blocks/skills/skills__soft.css);
@import url(./blocks/skills/skills__item.css);
@import url(./blocks/skills/skills__list.css);
@import url(./blocks/skills/skills__title.css);
@import url(./blocks/skills/skills__container.css);
@import url(./blocks/skills/skills__title.css);
@import url(./blocks/skills/skills__column.css);
@import url(./blocks/projects/projects.css);
@import url(./blocks/projects/projects__box.css);
@import url(./blocks/projects/projects__container.css);
@import url(./blocks/projects/projects__element.css);
@import url(./blocks/projects/projects__link.css);
@import url(./blocks/projects/projects__square-bracket-open.css);
@import url(./blocks/projects/projects__square-bracket-close.css);
@import url(./blocks/projects/projects__text.css);
@import url(./blocks/projects/projects__title.css);
@import url(./blocks/projects/projects__name.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/footer__box.css);
@import url(./blocks/footer/footer__button-github.css);
@import url(./blocks/footer/footer__contact.css);
@import url(./blocks/footer/footer__container.css);
@import url(./blocks/footer/footer__email.css);
@import url(./blocks/footer/footer__title.css);
@import url(./blocks/footer/footer__link-github.css);
